
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');


/* home.css */
/* home.css */
.background-container {
  background-image: url('../Assets/Job.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding-top: 20px; /* Adjust as needed */
}

.typo {
  margin-top: -420px; /* Adjust as needed */
}

.text-center {
  text-align: center;
}


  .typo{
    color: red;
    font-family: 'Bungee Spice', sans-serif;
  }