
/* body {
  margin: 0;
  padding: 0;
  background-image: url("../Assets/Job.jpg");
  background-size: cover;
  height: 100vh; 
  display: flex; */
  /* justify-content: center;
  align-items: center; */
/* } */

.Card {
  background-color: rgba(38, 208, 230, 0.534);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 150px;
  margin-left: 100px;
}
