body {
    margin: 0;
    padding: 0;
    background-image: url('../Assets/Job.jpg');
    background-size: cover;
    height: 100vh; 
    display: flex;
    margin-top: -170px;
    justify-content: center;
    align-items: center;
  }
  .input{
    border-color: brown;
  }
  